.scheduleContainer {
  padding: 20px;
  height: calc(100vh - 60px); /* 전체 화면 높이에서 입력창 높이(60px) 제외 */
  display: flex;
  flex-direction: column;
  position: relative; /* 위치 기준 설정 */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7; /* 배경색을 줘서 스크롤 시 리스트와 분리 */
  padding: 10px;
  position: sticky; /* 고정 위치 */
  top: 0; /* 화면 상단에 고정 */
  z-index: 10; /* 리스트 위에 표시되도록 z-index 설정 */
  border-bottom: 1px solid #ddd; 
}

.homeLists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
  border-radius: 10px;
}

.homeLists li:first-child {
  margin-top: 20px; 
}

.eventItem {
  padding: 15px 15px 10px 15px; 
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #19A7C3;
  position: relative;
  background-color: white;
  gap: 10px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: "Open Sans";
  align-items: center;
  margin-bottom: 3px;
  color: #3268FF;
  font-weight: bold;
  gap: 5px;
}

.description {
  height: 100%;
  flex-grow: 1;
  font-family: "Open Sans";
  font-size: 16px;
  border-top: 3px solid #D6D6D6;
  white-space: normal; /* 텍스트 줄 바꿈 허용 */
  line-height: 1.5; /* 줄 높이 설정 */
  max-height: 4.5em; /* 3줄 정도의 높이 설정 */
  overflow: hidden; /* 3줄을 넘으면 숨기기 */
}
