.scheduleContainer {
  padding: 20px;
  height: calc(100vh - 60px); /* 전체 화면 높이에서 입력창 높이(60px) 제외 */
  display: flex;
  flex-direction: column;
  position: relative; /* 위치 기준 설정 */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7; /* 배경색을 줘서 스크롤 시 리스트와 분리 */
  padding: 10px;
  position: sticky; /* 고정 위치 */
  top: 0; /* 화면 상단에 고정 */
  z-index: 10; /* 리스트 위에 표시되도록 z-index 설정 */
  border-bottom: 1px solid #ddd; 
}

.homeLists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
  border-radius: 10px;
}

.homeLists li {
  padding: 15px 15px 10px 15px; 
  margin: 5px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #19A7C3;
  position: relative;
  margin-bottom: 40px; 
  background-color: white;
}

.homeLists li:first-child {
  margin-top: 30px; 
}

.description {
  color: black;
  font-size: 15px;
  padding-top: 0;
  width: 100%;
  position: relative;
  word-wrap: break-word; /* 긴 단어가 넘어갈 때 자동으로 줄 바꿈 */
  white-space: normal; /* 텍스트가 칸을 넘지 않도록 줄 바꿈을 허용 */
}

.title {
  position: absolute;
  top: -30px;
  left: 1px;
  border-top: 1px solid #19A7C3;
  border-left: 1px solid #19A7C3;
  border-right: 1px solid #19A7C3;
  font-size: 14px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  color: #3268FF;
  z-index: 1;
}

